<p id="notice"><%= notice %></p>

<p>
  <strong>Originalurl:</strong>
  <%= @url.originalurl %>
</p>

<p>
  <strong>Shorturl:</strong>
  <%= @url.shorturl %>
</p>

<p>
  <strong>Clicks:</strong>
  <%= @url.clicks %>
</p>

<%= link_to 'Edit', edit_url_path(@url) %> |
<%= link_to 'Back', urls_path %>
